h1{
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: #e5e7eb;
}

tr{
  text-align: left;
}

th{
  background-color: #15803d;
  color: #ffff;
  padding: 0.5rem;
}

td{
  border-bottom: 1px solid #9ca3af;
  padding: 0.5rem ;
}

.paginate{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 1rem;
}
.paginate button{
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  background-color: #15803d;
  color: #ffff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
button:disabled{
  background-color: #22c55e;
  cursor: not-allowed;

}